$primaryblue: #0052CC;
$colorblue: #005EB8;
$lightBlue: #0091DA;
$blackColor: #000000;
$sidebarColor: #183055;
$whiteColor: #ffffff;
$headerTextColor: #183055;
$tagColor: #C6007E;
$neutralGray: #737D88;
$menuActive: #eaaa00;
$antInputColor: #f3f4f5;